<div class="navbar bg-base-100">
  <h1 class="btn btn-ghost text-xl">Canap Score</h1>
  <div class="avatar">
    <div class="w-24 rounded-full">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" alt="Avatar" />
    </div>
  </div>
  <a routerLink="/" class="btn btn-ghost text-xl">Live Matchs</a>
  <a routerLink="/full-time" class="btn btn-ghost text-xl">Matchs Terminés</a>
  <a class="btn btn-ghost text-xl">Stats</a>
  <a class="btn btn-ghost text-xl">Prédictions</a>
  <a class="btn btn-ghost text-xl">Chatbot IA</a>
  <a class="btn btn-ghost text-xl">Paramètres</a>
</div>